framework: net472
source https://api.nuget.org/v3/index.json

clitool dotnet-fake

nuget FSharp.Core redirects: force
nuget GraphX
nuget Microsoft.TPL.Dataflow
nuget Microsoft.Msagl.GraphViewerGDI 1.0.2
nuget RazorLight 1.1
nuget Microsoft.AspNetCore.Razor 1.1.1
nuget StyleCop.Analyzers
nuget Newtonsoft.Json

group Tests

framework: net472
source https://api.nuget.org/v3/index.json

nuget NSubstitute
nuget NUnit3TestAdapter
nuget FsUnit


group TestRunners

framework: net472
source https://api.nuget.org/v3/index.json

nuget NUnit.Console


group FakeBuild

framework: netstandard2.0
source https://api.nuget.org/v3/index.json
storage: none

nuget Fake.Core.Target
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.MsBuild
nuget Fake.DotNet.Testing.NUnit